<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings>
		<add key="ruta_archivo" value="D:/Tarea/log.txt" />
		<add key="correo_empresa" value="i201320389@cibertec.edu.pe"/>
		<add key="pwd_empresa" value="Cibertec2024"/>
	</appSettings>


	<connectionStrings>
		<add name="cnx_bd_tienda" 
			 connectionString="server=.; uid=sa; pwd=sql; Initial Catalog=BD_TIENDA"/>
	</connectionStrings>
	
</configuration>